body {
    font-family: sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
    gap: 24px;
    padding: 24px;
}

/* ---Parent Container Design--- */
.parent-container {
    background: darkgray;
    padding: 8px 24px;
    border: 1px solid crimson;
    border-radius: 20px;
    max-height: 70px; 
    overflow: hidden; 
    transition: 0.5s ease-in-out; 
}

.parent-container.open {
    max-height: 500px;
}
